@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-hover: #1e40af;
  --color-secondary: #eab308;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-danger: #ef4444;
  --color-success: #22c55e;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text-main);
}
